<!--
<section class="contact-cta">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact-cta-wrap flex">
                    <div class="content">
                        <h2 class="title">{{t "Need help?"}}</h2>
                        <p class="description">{{t "Have you any question which is not answered in this knowledge base? Contact us. We are here to help you."}}</p>
                    </div>
                    <div class="">
                        <a href="{{@site.url}}/contact/" class="btn btn-primary">{{t "Contact us"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->