<div class="comment-container">
    <div class="disqus-comment-wrap"></div>
    <script>
        var disqus_shortname = 'example'; // required: replace example with your forum shortname
        var pageUrl = '{{url absolute="true"}}';
        var pageIdentifier = 'ghost-{{comment_id}}';
    </script>
</div>
