<nav class="nav-wrap">
    <ul class="nav-list">
        {{navigation}}
        <li class="nav-item"><a href="https://github.com/oslokommune/okctl" class="nav-btn">{{> icons/github}}{{t "GitHub"}}</a></li>
    </ul>
</nav>