<div class="prev-next-wrap flex">
    {{#prev_post}}
    <div class="prev" id="prev-post">
        <a href="#">
            <div class="label">{{> icons/arrow-back}} {{t "Previous"}}</div>
            <h4 class="title"></h4>
        </a>
    </div>
    {{/prev_post}}
    {{#next_post}}
    <div class="next" id="next-post">
        <a href="#">
            <div class="label">{{t "Next"}} {{> icons/arrow-forward}}</div>
            <h4 class="title"></h4>
        </a>
    </div>
    {{/next_post}}
</div>