/*=====================================================
    Please do not re order any import,
    It can break some style
=====================================================*/
@font-face {
  font-family: 'OsloSans';
  src: url('assets/fonts/OsloSans-Regular.otf') format('opentype');
}

@import 'components/normalize';
@import 'components/grid';
@import 'components/color-and-font';
@import 'components/common';
@import 'components/header';
@import 'components/hero-area';
@import 'components/home-sections';
@import 'components/contact-cta';
@import 'components/footer';
@import 'components/post-list';
@import 'components/sidebar';
@import 'components/single-article';
@import 'components/prism';
@import 'components/prism-toolbar';
@import 'components/subscribe';
@import 'components/error';
@import 'components/tlite';
@import 'components/pricing-table';
@import 'components/media-query';

