html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: $font-family;
    color: #333333;
    line-height: 1.5;
    position: relative;
    left: 0;
    transition: left .3s ease-in-out;
    
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family;
    color: #333333;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
// h1, .h1 {
//     font-size: 2.5rem; //48
// }
// h2, .h2 {
//     font-size: 2rem; //40
// }
// h3, .h3 {
//     font-size: 1.75rem; //32
// }
// h4, .h4 {
//     font-size: 1.5rem; //24
// }
// h5, .h5 {
//     font-size: 1.125rem; //18
// }
// h6, .h6 {
//     font-size: 0.875rem; //14
// }
// @media (min-width: 768px) {
    // h1, .h1 {
    //     font-size: 3rem; //48
    // }
    // h2, .h2 {
    //     font-size: 2.25rem; //40
    // }
    // h3, .h3 {
    //     font-size: 1.75rem; //32
    // }
    // h4, .h4 {
    //     font-size: 1.5rem; //24
    // }
    // h5, .h5 {
    //     font-size: 1.125rem; //18
    // }
    // h6, .h6 {
    //     font-size: 0.875rem; //14
    // }
// }
h1, .h1 {
    font-size: 2.75rem; //40
}
h2, .h2 {
    font-size: 2rem; //32
}
h3, .h3 {
    font-size: 1.5rem; //28
}
h4, .h4 {
    font-size: 1.25rem; //24
}
h5, .h5 {
    font-size: 1.125rem; //18
}
h6, .h6 {
    font-size: 1rem; //14
}
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
    position: relative;
    .js-anchor {
        position: absolute;
        left: -20px;
        top: 0;
        // opacity: 0.4;
        &:hover {
           // opacity: 1;
            // text-decoration: underline;
        }
        svg {
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-top: -4px;
        }
    }
}
a, a:hover, a:focus {
    text-decoration: underline;
    // color: #000;
    // text-decoration: underline;
    outline: 0;
    transition: all 0.25s;
}
svg {
    fill: currentColor;
}
.btn, input[type='submit'] {
    &:not(:disabled):not(.diabled) {
        cursor: pointer;
    }
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0px 2.125rem;
    border-radius: 7px;
    height: 48px;
    line-height: 46px;
    border: 1px solid;
    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out,box-shadow 0.25s ease-in-out;
    &:focus {
        box-shadow: none;
    }
    svg {
        width: 18px;
        height: 18px;
    }
}
// .btn-rounded {
//     border-radius: 60px;
// }
// .btn-lg {
//     line-height: 64px;
//     font-size: 1.25rem;
// }
.btn-sm {
    line-height: 30px;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled, input[type='submit']  {
    background-color: #b59051;
    border-color: #b59051;
    color: $white;
    &:hover, &:not(:disabled):not(.disabled):active {
        background-color: var(--theme-color-lighten-10);
        border-color: var(--theme-color-lighten-10);
        color: $white;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        color: $white;
    }
}
.btn-secondary {
    background-color: #333333;
    border-color: #333333;
    color: $white;
    &:hover, &:not(:disabled):not(.disabled):active {
        background-color: #000;
        border-color: #000;
        color: $white;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
        color: $white;
    }
}
.btn-outline-primary {
    color: #b59051;
    border-color: #b59051;
    &:hover, &:not(:disabled):not(.disabled):active {
        color: #000;
        background-color: var(--theme-color);
        border-color: var(--theme-color);
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 2px rgba(var(--theme-color), 0.4);
    }
}
.btn-outline-secondary {
    color: #333333;
    border-color: #333333;
    &:hover, &:not(:disabled):not(.disabled):active {
        color: #000;
        background-color: #333333;
        border-color: #333333;
    }
    &:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 2px rgba(var(--theme-color), 0.4);
    }
}
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
%loading_spinner {
    position: relative;
    padding-right: 3.5rem;
    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        right: 28px;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        border-radius: 50%;
        border: 2px solid var(--text-color-normal);
        border-top-color: transparent;
        animation: loading 0.6s linear infinite;
    }
}
.loading {
    .btn, button, input[type='submit'] {
        @extend %loading_spinner;
        &.btn-primary, &.btn-secondary {
            &:before {
                border-color: $white;
                border-top-color: transparent;
            }
        }
    }
}
.btn, button, input[type='submit'] {
    &.loading {
        @extend %loading_spinner;
        &:before {
            border-color: $white;
            border-top-color: transparent;
        }
    }
}
// form {
//     margin-bottom: 24px;
// }
input[type='text'], input[type='email'], input[type='url'], textarea {
    background: var(--body-bg);
	border: 1px solid var(--border-color);
    box-shadow: none;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    padding: 0px 16px;
    color: #333333;
	&:focus {
        background: transparent;
        border: 1px solid var(--theme-color);
        color: #333333;
		outline: none;
		box-shadow: none;
    }
    &::placeholder {
        color: var(--text-color-light);
    }
}
input[type='text'].small, input[type='email'].small, input[type='url'].small {
    height: 2.5rem;
    font-size: 0.875rem;
}
textarea {
    height: auto;
    padding: 16px;
}
// figure {
//     margin-bottom: 2rem;
// }
// figcaption {
//     font-size: 1rem;
//     text-align: center;
//     margin-top: 8px;
//     font-family: $font-family;
// }
// .form-control {
//     padding: 0px 1.75rem;
//     line-height: 60px;
//     height: 60px;
// }
// .form-control-lg {
//     padding: 1rem 2rem;
// }
blockquote {
    font-family: $font-family;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1.5rem;
    margin: 2.5rem 0;
    color: #333333;
    // font-style: italic;
    // margin-bottom: 3rem;
    border-left: 4px solid var(--theme-color);
    // border-left: 4px solid $text-color-light;
    // color: $text-dark;
    background-color: var(--light-bg-color);
    p {
        margin-bottom: 0px !important;
    }
    cite {
        // color: $color-normal;
        font-style: normal;
    }
}
[data-theme="light"] blockquote {
    background-color: rgba(#000, 0.03);
}
img {
    display: block;
    max-width: 100%;
}
figure {
    margin: 2rem 0px 2rem 0px;
}
figcaption {
    font-size: 1rem;
    text-align: center;
    padding: 8px;
}
.table-responsive {
    width: 100%;
    display: block;
    overflow-x: auto;
    margin-bottom: 2rem;
    table {
        margin-bottom: 0;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 2rem;
}
table, th, td {
    border: 1px solid var(--border-color);
}
th {
    color: var(--text-color-dark);
}
th, td {
    padding: 8px 16px;
}
dd, dt {
    line-height: 24px;
}
dl, ol, ul {
    padding-left: 1.3rem;
}
pre {
    overflow: auto;
}
hr {
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin-top: 2rem;
    margin-bottom: 3rem;
    &.small {
        margin-top: 0;
        margin-bottom: 2.5rem;
    }
}
@media (min-width: 767px) {
    .site-content-wrap, .site-footer {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.main {
    margin-top: 2rem;
}
.notification {
    position: fixed;
    right: -20px;
    top: 20px;
    max-width: 260px;
    z-index: 9999;
    box-shadow: var(--shadow);
    padding: 1rem 1.5rem;
    background: var(--success);
    color: $white;
    font-size: 1.125rem;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition: all 0.3s;
    &.error {
        background: var(--error);
    }
    &.visible {
        right: 20px;
        visibility: visible;
        // opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.medium-zoom-overlay {
    z-index: 8;
}
.medium-zoom-image {
    z-index: 9;
}
