.site-header {
    background-color: #0ca910;
}
.header-inner {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}
.header-right {
    display: none;
}
.logo {
    margin-left: 1rem;
}
.logo-text {
    font-size: 1.5rem;
    line-height: 40px;
    margin-top: -4px;
    font-weight: 700;
    color: $white;
    &:hover, &:focus {
        color: $white;
    }
}
.logo-image {
    max-height: 40px;
}
.nav-list {
    padding: 0;
    margin: 0;
    margin-right: 1rem;
    .nav-item {
        display: inline-block;
        margin: 0px 1rem;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: $white;
            position: relative;
            line-height: 40px;
            text-transform: capitalize;
            &:hover {
                color: darken($white, 10);
            }
            &.nav-btn {
                background-color: $white;
                color: var(--text-color-dark);
                height: 40px;
                display: block;
                padding: 0px 16px;
                border-radius: 5px;
                svg {
                    width: 24px;
                    height: 24px;
                    margin-right: 0.25rem;
                    margin-bottom: -6px;
                }
                &:hover {
                    color: var(--text-color-normal);
                }
            }
        }
        &.nav-item-current {
            a {
                color: darken($white, 10);
            }
        }
    }
}
.menu-icon {
    z-index: 50;
    position: relative;
    display: inline-flex;
    height: 20px;
    width: 28px;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.25s;
    left: auto;
    .line {
        width: 100%;
        height: 3px;
        background-color: $white;
        position: absolute;
        right: 0;
        transition: all 0.3s;
        &:first-child {
            top: 0px;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:last-child {
            top: 20px;
        }
    }
    &:hover {
        .line {
            background-color: darken($white, 10);
        }
    }
    &.menu-icon-close {
        .line {
            background-color: $white;
            &:first-child {
                width: 100%;
                transform: rotate(45deg);
                top: 10px;
            }
            &:nth-child(2) {
                visibility: hidden;
                opacity: 0;
            }
            &:last-child {
                width: 100%;
                top: 10px;
                transform: rotate(-45deg);
            }
        }
        &:hover {
            .line {
                background-color: darken($white, 10);
            }
        }
    }
}
.mobile-nav-wrap {
    background: var(--theme-color);
    position: fixed;
    top: 0;
    right: -260px;
    visibility: hidden;
    opacity: 0;
    width: 260px;
    height: 100%;
    padding: 24px 32px;
    overflow-y: auto;
    z-index: 1060;
    transition: right .3s ease-in-out, visibility 0s .3s, opacity 0s .3s;
    .nav-wrap {
        display: block;
    }
    .nav-list {
        .nav-item {
            display: block !important;
            margin: 0 0 1rem 0;
            a {
                display: block;
            }
            .nav-btn {
                text-align: center;
            }
        }
    }
}
.backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 49;
    background: rgba($black, .5);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .3s;
}
.js-mobile-menu-opened {
    left: -260px;
    position: relative;
    .mobile-nav-wrap {
        right: 0;
        visibility: visible;
        opacity: 1;
        transition: right .3s ease-in-out, visibility 0s 0s, opacity 0s 0s;
    }
    .backdrop {
        visibility: visible;
        opacity: 1;
    }
    .menu-icon {
        position: absolute;
        right: 0px;
    }
}
.secondary-header-bar {
    background-color:  var(--light-bg-color);
    padding: 1rem 0;
}
.breadcrumb {
    color: var(--text-color-light);
    :not(.post-title) {
        text-transform: capitalize;
    }
    a {
        color: var(--text-color-normal);
        margin: 0px 12px;
        position: relative;
        &:hover {
            color: var(--theme-color);
        }
        &:first-child {
            margin-left: 0;
        }
        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 14px;
            background-color: var(--text-color-light);
            position: absolute;
            top: 4px;
            right: -14px;
            transform: rotate(15deg);
        }
    }
    .current {
        margin-left: 12px;
    }
}

