.hero-home {
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.hero-title {
    color: var(--text-color-dark);
    margin-top: 0;
    margin-bottom: 1rem;
}
.subtitle {
    color: var(--text-color-light);
    margin-top: 0;
    margin-bottom: 3rem;
}
.form-wrap {
    position: relative;
}
.hero-search {
    input[type='text'] {
        background: $white;
        height: 4rem;
        font-size: 1.125rem;
        border: none;
        padding: 0px 48px 0px 28px;
        box-shadow: var(--shadow);
        margin-bottom: 0.125rem;
    }
    .input-wrap {
        position: relative;
        svg {
            position: absolute;
            top: 18px;
            right: 20px;
            height: 28px;
            width: 28px;
            color: var(--text-color-light);
        }
    }
}
.search-result, .no-result-message {
    background-color: var(--body-bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 7px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    max-height: 400px;
    overflow-y: auto;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
}
.no-result-message {
    padding: 0.5rem 2rem;
    color: var(--text-color-dark);
    font-weight: bold;
}
.search-result {
    .result-item {
        a {
            display: block;
            color: var(--text-color-normal);
            padding: 1rem 1.5rem;
            border-bottom: 1px solid var(--border-color);
            .header {
                margin-bottom: 0.25rem;
            }
            .title {
                color: var(--text-color-dark);
                font-weight: bold;
                display: inline;
            }
            .tag {
                font-size: 0.875rem;
                color: var(--text-color-light);
                margin-left: 8px;
                margin-top: 2px;
            }
            .excerpt {
                font-size: 0.875rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                background-color: var(--light-bg-color);
                border-color: var(--light-bg-color);
            }
        }
        &:last-child a {
            border: none;
        }
    }
}
