.section-topic {
    margin-top: -9.5rem;
    margin-bottom: 3rem;
    .see-all {
        margin-top: 1rem;
    }
    .js-cards {
        opacity: 1;
        height: auto;
        visibility: visible;
        transition: all 0.4s;
        &.hidden {
            opacity: 0;
            min-height: 0;
            height: 0;
            visibility: hidden;
        }
    }
    
}
.topic-card {
    background-color: var(--body-bg);
    border-radius: 7px;
    box-shadow: var(--shadow);
    padding: 2.5rem;
    margin-bottom: 32px;
    height: calc(100% - 32px);
    .featured-image-wrap {
        width: 56px;
        height: 56px;
        margin-top: 8px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-content {
        margin-top: 1rem;
    }
    .topic-name {
        margin-top: 0px;
        a {
            color: var(--text-color-dark);
            &:hover {
                color: var(--theme-color);
            }
        }
    }
    .topic-description {
        color: var(--text-color-light);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .topic-post-list {
        padding: 0;
        margin: 0 0 1rem 0;
        li {
            list-style: none;
            margin-bottom: 4px;
            margin-left: 20px;
            svg {
                width: 20px;
                height: 20px;
                margin-bottom: -4px;
                margin-left: -22px;
                color: var(--text-color-light);
            }
            a {
                margin-left: 8px;
                display: inline-flex;
                color: var(--text-color-normal);
                &:hover {
                    color: var(--theme-color);
                }
                text-decoration: none;
            }
        }
    }
    .topic-archive-link {
        a {
            svg {
                width: 16px;
                height: 16px;
                margin-bottom: -2px;
                margin-left: 4px;
            }
            text-decoration: none;
        }
    }
}
.section-faq {
    margin-top: 4rem;
    margin-bottom: 3rem;
    .section-title {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}
.faq-wrap {
    box-shadow: var(--shadow);
    border-radius: 7px;
}
.faq-item {
    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
    a {
        padding: 28px 56px 28px 28px;
        font-size: 1.125rem;
        font-weight: 700;
        display: block;
        color: var(--text-color-normal);
        position: relative;
        &:hover {
            color: var(--theme-color);
        }
    }
    svg {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 28px;
        top: 50%;
        margin-top: -10px;
    }
}
.see-all {
    margin-top: 3rem;
}

.featured-image-wrap img {
    height: 215px;
    margin: 0 auto 20px auto;
}

.blog-meta {
    color: var(--text-color-blog)
}

.blog-time {
    color: var(--text-color-light)
}
